In [7]:
import mysql.connector as connector
mydb=connector.connect(
    host='localhost',
    user='root',
    password='root',
    port=3306
)

print('Connected to database:',mydb)

# cursor=mydb.cursor()
# result=cursor.fetchall()
# for db_name in result:
#     print(db_name)

Connected to database: <mysql.connector.connection_cext.CMySQLConnection object at 0x000001A9D304C740>

In [6]:
query = """CREATE DATABASE IF NOT EXISTS user_management"""
cursor.execute(query)
mydb.commit()

In [8]:
cursor=mydb.cursor()
query="USE user_management"
cursor.execute(query)

query="""CREATE TABLE IF NOT EXISTS users(
    id INT,
    username VARCHAR(50),
    email VARCHAR(100))"""

cursor.execute(query)
mydb.commit()

In [11]:
# query="""INSERT INTO users(id,username,email) VALUES(1,'user1','user1@example.com')"""
# cursor.execute(query)
# mydb.commit()
query="""INSERT INTO users(id,username,email) VALUES(2,'user2','user2@example.com'),(3,'user3','user3@example.com')"""
cursor.execute(query)
mydb.commit()

In [12]:
query="SELECT * FROM users"
result=cursor.execute(query)
row=cursor.fetchone()
print(row)
print("#"*40)
rows=cursor.fetchall()
for row in rows:
    print(row)

(1, 'user1', 'user1@example.com')
########################################
(2, 'user2', 'user2@example.com')
(3, 'user3', 'user3@example.com')